* {
  font-family: "Open Sans", sans-serif;
}
.login {
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #648175;
}

.login-form {
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: #f6f8f8;
  border-radius: 10px;
}

input[type="email"],
input[type="password"] {
  background: #E5FDD1;
}

.header h1 {
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  color: #3a674a;
}

.header p {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  color: #648175;
}

.btn {
  background: #3a674a;
  color: #ffffff;
  font-size: 16px;
  font-style: bold;
  font-weight: 600;
  transform: translateY(10px);
  border-radius: 10px;
}
.login span {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #e7d0a8;
  line-height: 72px;
}

.login span a {
  font-weight: 600;
  color: #f0bb62;
  line-height: 72px;
}
